<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property username="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property username="hibernate.connection.url">jdbc:mysql://localhost:3306/demo_db?createDatabaseIfNotExist=true</property>
        <property username="hibernate.connection.username">root</property>
        <property username="hibernate.connection.password">Radhe123</property>


        <property username="hibernate.hbm2ddl.auto">update</property>
        <property username="hibernate.show_sql">true</property>
        <property username="hibernate.format_sql">true</property>

<!--Important-->
<!--        DB Must Be Open-->
<!--        Always Print Exceptions -->
        <mapping class="org.example.DB.Students"/>
        <mapping class="org.example.DB.Certification"></mapping>

    </session-factory>
</hibernate-configuration>